.text-input-control-wrapper {
  position: relative;
  .text-input-control {
    border: none;
    &.locked {
      pointer-events: none;
      div {
        background-color: var(---ui-2-greys-grey-4);
      }
    }
    label {
      font-family: Gilroy;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: var(---ui-2-greys-grey-2);
      &.Mui-disabled {
          opacity: 0.3;
      }
    }
    div {
      background-color: transparent;
      border-radius: 8px;
      border: solid 1.5px var(---ui-2-greys-grey-3);
      input {
        font-family: Gilroy;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: var(---ui-1-color-fill-color-1);
      }
      &.Mui-focused {
        border: solid 1.5px var(---ui-1-color-fill-color-1);
      }
      &.Mui-disabled {
        opacity: 0.3;
        border: solid 1.5px var(---ui-2-greys-grey-3);
      }
      &.Mui-error {
        border: solid 1.5px var(---ui-1-color-fill-color-4);
      }
    }
  }
  .right-component-wrapper {
    
  }
  .append-component-wrapper {
    
  }
}
