.Medium-Right {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-1);
}

.Medium-Left {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(---ui-1-color-fill-color-1);
}

.Medium-Center {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-1-color-fill-color-1);
}

.White-Medium-Right {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-white);
}

.White-Medium-Left {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(---ui-white);
}

.White-Medium-Center {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-white);
}

.White-Regular-Right {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-white);
}

.White-Regular-Left {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(---ui-white);
}

.White-Regular-Center {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-white);
}

.Violet-Right {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-3);
}

.Violet-Left {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(---ui-1-color-fill-color-3);
}

.Violet-Center {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-1-color-fill-color-3);
}

.Regular-Right {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-1);
}

.Regular-Left {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(---ui-1-color-fill-color-1);
}

.Regular-Center {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-1-color-fill-color-1);
}

.Orange-Right {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-4);
}

.Orange-Left {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(---ui-1-color-fill-color-4);
}

.Orange-Center {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-1-color-fill-color-4);
}

.Low-Contrast-Right {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-2-greys-grey-2);
}

.Low-Contrast-Left {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(---ui-2-greys-grey-2);
}

.Low-Contrast-Center {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-2-greys-grey-2);
}

.Link-Right {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-2);
}

.Link-Left {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(---ui-1-color-fill-color-2);
}

.Link-Center {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-1-color-fill-color-2);
}

.Green-Right {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-5);
}

.Green-Left {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(---ui-1-color-fill-color-5);
}

.Green-Center {
  font-family: Gilroy;
  font-size: 64px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-1-color-fill-color-5);
}

.White-Left {
  font-family: Gilroy;
  font-size: 48px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(---ui-white);
}

.Low-Contast-Right {
  font-family: Gilroy;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-2-greys-grey-2);
}

.Low-Contast-Left {
  font-family: Gilroy;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(---ui-2-greys-grey-2);
}

.Low-Contast-Center {
  font-family: Gilroy;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-2-greys-grey-2);
}

.White-Low-Contrast-Center {
  font-family: Gilroy;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-white);
}

.Red-Right {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-4);
}

.Red-Left {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(---ui-1-color-fill-color-4);
}

.Red-Center {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-1-color-fill-color-4);
}

#CAPSLeft {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: var(---ui-2-greys-grey-2);
}

#CAPSCenter {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-2-greys-grey-2);
}

.Low-Contrast-Right-2 {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-2-greys-grey-2);
}

.Violet-right {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-3);
}

.Link-right {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-2);
}

#CAPSRight {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-2-greys-grey-2);
}

.Green-Regular-Right {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: var(---ui-1-color-fill-color-5);
}

.Green-Regular-Left {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(---ui-1-color-fill-color-5);
}

.Green-Regular-Center {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(---ui-1-color-fill-color-5);
}
